.vertical-align {
  display: inline-block !important;
  vertical-align: middle;
}

.userselect(@value) {
  -webkit-touch-callout: @value;
  -webkit-user-select: @value;
  -khtml-user-select: @value;
  -moz-user-select: @value;
  -ms-user-select: @value;
  user-select: @value;
}

.noselect {
  .userselect(none);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  #login-dropdown .dropdown-menu {
    width: 300px;
    padding: 15px;
  }
}
